# KNN algorithm using iris dataset

In [1]:
#loading dataset
import pandas as pd
names=['x1','x2','x3','x4','y']
df=pd.read_csv(r'C:\Users\hp\OneDrive\Desktop\iris ds.csv',names=names)

In [2]:
#this head bracket value will show numbred types results
df.head()

             x1           x2            x3           x4        y
0  sepal.length  sepal.width  petal.length  petal.width  variety
1           5.1          3.5           1.4          0.2   Setosa
2           4.9            3           1.4          0.2   Setosa
3           4.7          3.2           1.3          0.2   Setosa
4           4.6          3.1           1.5          0.2   Setosa

In [3]:
df = df.drop(0)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 1 to 150
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   x1      150 non-null    object
 1   x2      150 non-null    object
 2   x3      150 non-null    object
 3   x4      150 non-null    object
 4   y       150 non-null    object
dtypes: object(5)
memory usage: 6.0+ KB

In [5]:
set(df['y'])

{'Setosa', 'Versicolor', 'Virginica'}

In [6]:
#tells null values
#df.isnull().sum()

In [7]:
#to know no. of col nd rows
df.shape

(150, 5)

In [8]:
#all stats cal
df.describe()

         x1   x2   x3   x4       y
count   150  150  150  150     150
unique   35   23   43   22       3
top       5    3  1.4  0.2  Setosa
freq     10   26   13   29      50

In [9]:
#no. of instances belong each ds
df.groupby('y').size()

y
Setosa        50
Versicolor    50
Virginica     50
dtype: int64

In [10]:
#changing y according to their occurance using unique func
keys=df['y'].unique()
values=[i for i in range(len(keys))]
mapp=dict(zip(keys,values))
mapp

{'Setosa': 0, 'Versicolor': 1, 'Virginica': 2}

In [11]:
#replacing y by their index
df['y']=df['y'].replace(keys,values)
#df

In [12]:
#making a numpy array
import numpy as np
dim=df.to_numpy()
dim2= np.asarray(dim, dtype=float)

In [13]:
#Dividing data into training and testing
#training dataset
c1=dim2[0:40]
c2=dim2[50:90]
c3=dim2[100:140]
training_data=np.concatenate((c1,c2,c3))
print(np.shape(training_data))
#training_data

(120, 5)

In [14]:
#testing dataset
test_1=dim2[40:50,:5]
test_2=dim2[90:100,:5]
test_3=dim2[140:150,:5]
testing_data=np.concatenate((test_1,test_2,test_3))
print(np.shape(testing_data))

(30, 5)

In [15]:
#mean of clusters
import numpy as np
mean1=np.mean(c1[:,:4],axis=0)
mean2=np.mean(c2[:,:4],axis=0)
mean3=np.mean(c3[:,:4],axis=0)
print(mean1)
print(mean2)
print(mean3)

[5.0375 3.4525 1.46   0.235 ]
[6.01   2.78   4.3175 1.35  ]
[6.6225 2.96   5.6075 1.99  ]

In [16]:
#calculating distance from a test point
def test(test_point):
    dist_1=np.sqrt(np.sum(np.square(np.subtract(mean1,test_point))))
    dist_2=np.sqrt(np.sum(np.square(np.subtract(mean2,test_point))))
    dist_3=np.sqrt(np.sum(np.square(np.subtract(mean3,test_point))))
    
    if dist_1<=dist_2 and dist_1<=dist_3:
        y = 0
        #print("belong to the Iris-setosa")
    elif dist_2<=dist_3 and dist_2<=dist_1:
        y = 1
        #print("belong to the Iris-versicolor")
    else:
        y = 2
        #print("belong to the Iris-virginica")
    return y

In [17]:
#calculating accuracy
correct = 0
incorrect = 0
for i in testing_data[:,:5]:
    count = 1
    test_point= i[:4]
    if test(test_point)==i[4]:
        correct +=1
    else:
        incorrect+=1
print('correct results = ',correct,': incorrect results = ',incorrect)
accuracy = (correct/len(testing_data))*100
print('Accuracy percentage of the algorithm is = ',accuracy)

correct results =  29 : incorrect results =  1
Accuracy percentage of the algorithm is =  96.66666666666667

In [ ]:
#overfeeding
#validatn set is used indirectly to set training
#validatn is to fit a dataset
#validan helping to make decisions
#accuracy is not ccoming